
@{
    ViewBag.Title = "SuaTinTuc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="col-lg-9 ml-5">
    <form class="form-search">
        <div class="input-group">
            <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
            <button>
                <i class="fas fa-search"></i>
            </button>
        </div>
    </form>
</div>
    

