
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DangNhap</title>
    <!-- jQuery -->
    <script src="~/Content/plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/Content/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>$.widget.bridge('uibutton', $.ui.button)</script>
    <!-- Bootstrap 4 -->
    <script src="~/Content/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

</head>
<body>
    <div> 
        <form action="" method="post" id="frm_data">
            <table align="center">
                <caption>ĐĂNG NHẬP HỆ THỐNG</caption>
                <tr>
                    <td>Tài khoản: </td>
                    <td>
                        <input type="text" name="txt_tk" id="txt_tk" />
                    </td>
                </tr>
                <tr>
                    <td>Mật khẩu: </td>
                    <td>
                        <input type="password" name="txt_mk" id="txt_mk" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="right">
                        <input type="button" value="Đăng nhập" id="btn_dangnhap" />
                        <input type="reset" value="Hủy" id="btn_huy" />
                    </td>
                </tr>
            </table>
        </form>
    </div>

    <script>
        $(document).ready(function () {
            $("#btn_dangnhap").click(function () {
                //trường hợp không rỗng
                var form = $('#frm_data')[0];
                var formData = new FormData(form);
                //console.log(window.location.origin + '/QLSV/Add');

                $.ajax(
                    {
                        type: "POST",
                        //data: {id: $("#hosothisinh_id").html()},
                        data: formData,
                        //data: JSON.stringify(lst),
                        contentType: "application/json; charset=utf-8",
                        url: window.location.origin + '/TaiKhoan/DangNhap_action',
                        processData: false,
                        contentType: false,
                        cache: false,
                        success: function (response) {
                            var rs = JSON.parse(response);

                            if (rs.ErrCode == 1) {
                                alert(rs.ErrDesc);
                            }
                            else {
                                alert(rs.ErrDesc);
                            }
                        },
                        error: function (response) {
                            alert("Xử lý thêm mới thất bại");
                        }
                    }
                );
            })
        })
    </script>
</body>
</html>
