
@{
    ViewBag.Title = "SuaSV";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Quản lý thông tin sinh viên</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    @*<li class="breadcrumb-item"><a href="#">Tran</a></li>*@
                    @*<li class="breadcrumb-item active">Trang chủ</li>*@
                    <li class="breadcrumb-item"><a href="#">Quản lý thông tin sinh viên</a></li>
                    <li class="breadcrumb-item active">Sửa sinh viên</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">

                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Sửa thông tin sinh viên</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form action="url_server" method="post" id="frm_data">
                        <input type="hidden" name="txt_id" id="txt_id"/>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-12 col-md-4 col-lg-3">
                                    <div class="form-group">
                                        <label for="txt_mssv">Mã số SV</label>
                                        <input readonly type="text" class="form-control" id="txt_mssv" name="txt_mssv" placeholder="Mã số SV">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-8 col-lg-9">
                                    <div class="form-group">
                                        <label for="txt_hoten">Họ tên SV</label>
                                        <input type="text" class="form-control" name="txt_hoten" id="txt_hoten" placeholder="Họ tên SV">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <div class="form-group">
                                        <label for="txt_matkhau">Mật khẩu đăng nhập</label>
                                        <input type="password" class="form-control" id="txt_matkhau" name="txt_mk" placeholder="Mật khẩu đăng nhập">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6">
                                    <div class="form-group">
                                        <label for="txt_nhaclai_matkhau">Nhắc lại Mật khẩu</label>
                                        <input type="password" class="form-control" name="txt_nhaclaimk" id="txt_nhaclai_matkhau" placeholder="Nhắc lại Mật khẩu">
                                    </div>
                                </div>
                            </div>


                            @*<div class="form-group">
                                    <label for="exampleInputFile">File input</label>
                                    <div class="input-group">
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="exampleInputFile">
                                            <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                                        </div>
                                        <div class="input-group-append">
                                            <span class="input-group-text">Upload</span>
                                        </div>
                                    </div>
                                </div>*@
                            @*<div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                                </div>*@
                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                            <div id="div_noft"></div>
                            <button type="button" id="btn_sua" class="btn btn-primary">Sửa</button>
                            <button type="reset" class="btn btn-outline-danger">Xóa</button>
                        </div>
                    </form>
                </div>
                <!-- /.card -->

            </div>
            <!--/.col (left) -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->

<script>
    $(document).ready(function () {
        var url = new URL(window.location.href);
        var id = url.searchParams.get("mssv");

        //trường hợp không rỗng
        var formData = new FormData();
        formData.append("mssv", id);

        $.ajax(
            {
                type: "POST",                
                data: formData,
                contentType: "application/json; charset=utf-8",
                url: window.location.origin + '/QLSV/get_SV_Info',
                processData: false,
                contentType: false,
                cache: false,
                success: function (response) {
                    //alert(response);
                    if (response.indexOf("Không tìm thấy") >= 0 || response.indexOf("thất bại") >= 0) {
                        //trường hợp lỗi
                        $("#div_noft").html(response);
                    }
                    else {
                        //trường hợp tìm thấy sinh viên cần sửa
                        /*console.log(response);*/
                        var sv_obj = JSON.parse(response); 
                        $("#txt_id").val(sv_obj.MSSV);
                        $("#txt_mssv").val(sv_obj.MSSV);
                        $("#txt_hoten").val(sv_obj.HoTen);
                        $("#txt_matkhau").val(sv_obj.MatKhau);
                        //$("#txt_nhaclai_matkhau").val(sv_obj.MatKhau);
                        //console.log(sv_obj.MSSV);
                    }
                },
                error: function (response) {
                    alert("Xử lý lấy thông tin sinh viên cần sửa thất bại");
                }
            }
        );
    })

    $("#btn_sua").click(function () {

        //kỹ thuật validate input requiment phía view
        var input_require = $(".require");
        var is_require_all = true;
        for (i = 0; i < input_require.length; i++) {
            if (!$(input_require[i]).val()) {
                is_require_all = false;
            }
        }

        if (is_require_all) {
            //trường hợp không rỗng
            var form = $('#frm_data')[0];
            var formData = new FormData(form);
            //console.log(window.location.origin + '/QLSV/Add');

            $.ajax(
                {
                    type: "POST",
                    //data: {id: $("#hosothisinh_id").html()},
                    data: formData,
                    //data: JSON.stringify(lst),
                    contentType: "application/json; charset=utf-8",
                    url: window.location.origin + '/QLSV/Edit',
                    processData: false,
                    contentType: false,
                    cache: false,
                    success: function (response) {
                        //alert(response);
                        $("#div_noft").html(response);
                    },
                    error: function (response) {
                        alert("Xử lý cập nhật thông tin sv thất bại");
                    }
                }
            );
        }
        else {
            //trường hợp mssv rỗng
            alert("Vui lòng điền vào các trường dữ liệu bắt buộc");
        }
    })  

    //$(document).ready(function () {
    //    var url = new URL(window.location.href);
    //    var id = url.searchParams.get("id");

    //    var formData = new FormData();
    //    formData.append("id", id);

    //    console.log(id);

    //    $.ajax(
    //        {
    //            type: "POST",
    //            //data: {id: id},
    //            data: formData,
    //            //data: JSON.stringify(lst),
    //            contentType: "application/json; charset=utf-8",
    //            url: window.location.origin + '/QLSV/get_SV_Edit',
    //            processData: false,
    //            contentType: false,
    //            cache: false,
    //            success: function (response) {
    //                //alert(response);
    //                $("#div_noft").html(response);
    //            },
    //            error: function (response) {
    //                alert("Xử lý thêm mới thất bại");
    //            }
    //        }
    //    );
    //})
</script>
