#div_noft {
    color: red;
}

.requiment {
    color: red;
    font-weight: bold;
}

.table-border-grey td {
    border: 1px solid grey;
}

#div_search div * {
    float: right;
    margin-left: 10px;
}

#div_search button {
    width: 100%;
    height: 100%;
}

#div_search button i {
    width: 100%;
}

#div_search input {
    border: 1px solid;
    border-radius: 3px;
    height: 100%;
    padding: 3px 10px;
}


