*
{
    margin: 0px;
    padding: 0px;
}

.div-header
{
    width: 100%;
    height: 100px;
    background: red;
}

.div-main-menu
{
    width: 20%;
    height: 300px;
    background: green;
    float:left;
}

.div-content
{
    background: yellow;
    height: 300px;
}

.div-clear-both
{
    clear: both;
}

.div-footer
{
    width: 100%;
    height: 100px;
    background: blue;
}

